.container{
    display: flex;
    justify-content: center;
}

.title{
    margin-bottom: 20px;
}

.exaples{
    margin-top: 15px;
}



.text > p{
    font-size: 1.1em;

}

.list li{
    margin-bottom: 10px;
}
.exaples>div{
    margin-bottom: 5px;
}